<div class="container-fluid mt-3">

    <form action="/login" method="post">
        <h1 style="color:blue;">Login de usuario</h1>
        <br>
        <br>
        <span>Ingrese su Nombre</span>
        <br>
        <br>
        <input type="text" class="name" id="name" name="name">
        <button class="btn btn-success mt-3 mb-5">Ingresar</button>
    </form>

</div>