<div>

    <h2>{{nombree}}</h2>

</div>
<script>

    setTimeout(funcionConRetraso, 2000);
    function funcionConRetraso() {
        window.location.href = "http://localhost:8080/login";
    }
</script>